@inject IStaticAssetService AssetService

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/" />
    <title>Madeira Pet Adoption</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <!-- Font Awesome 6 - Free version -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Template CSS Files - Cache Busted -->
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/animate.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/magnific-popup.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/bootstrap-datepicker.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/jquery.timepicker.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/flaticon.css")">
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/style.css")">

    <!-- Blazor CSS - Cache Busted -->
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("Web.styles.css")" />
    <link rel="stylesheet" href="@AssetService.GetVersionedUrl("css/custom.css")">
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    
    <!-- Blazor Script - Required -->
    <script src="_framework/blazor.web.js"></script>

    <!-- jQuery and Dependencies - Cache Busted -->
    <script src="@AssetService.GetVersionedUrl("js/jquery.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery-migrate-3.0.1.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/popper.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/bootstrap.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery.easing.1.3.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery.waypoints.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery.stellar.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery.animateNumber.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/bootstrap-datepicker.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery.timepicker.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/owl.carousel.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/jquery.magnific-popup.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/scrollax.min.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/main.js")"></script>
    <script src="@AssetService.GetVersionedUrl("js/utilities.js")"></script>
</body>

</html>
